workflows/get class score table.json
{
  "name": "get class score table",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Cookie"
            },
            {
              "name": "courseID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        -16
      ],
      "id": "985536fc-3ae6-4a47-a753-f1202daac03e",
      "name": "get class scores"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TjwUck9DVEINvXXmtp5XM",
          "mode": "list",
          "cachedResultUrl": "/workflow/TjwUck9DVEINvXXmtp5XM",
          "cachedResultName": "get Moodle class assignments"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "cookie": "={{ $json.Cookie }}",
            "courseID": "={{ $json.courseID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "cookie",
              "displayName": "cookie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "courseID",
              "displayName": "courseID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -16,
        -16
      ],
      "id": "a27e0a7c-0bab-4ef1-a00a-9d6ca181d534",
      "name": "Call 'get Moodle class assignments'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SmjWR6dT2vWzjU1Ixa1GM",
          "mode": "list",
          "cachedResultUrl": "/workflow/SmjWR6dT2vWzjU1Ixa1GM",
          "cachedResultName": "get all students' scores of assignment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "assignmentID": "={{ $json.assignUrl.split('=')[1] }}",
            "Cookie": "={{ $node['get class scores'].json.Cookie}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "assignmentID",
              "displayName": "assignmentID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Cookie",
              "displayName": "Cookie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        352,
        128
      ],
      "id": "fbbb21ad-4e87-4056-aafe-8b1405999996",
      "name": "Call 'get all students' scores of assignment'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        -16
      ],
      "id": "b19caff7-8f05-46d0-933d-33720bbe9ef1",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -16
      ],
      "id": "c818a8d7-cf3e-4f2d-a3d8-7b72b0b56771",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "get class scores": [
      {
        "json": {
          "Cookie": "MoodleSession=kr7qqlkbh5av97mm8pt9i15ndk; MOODLEID1_=%25A6%2594%25E0%25E2%2501%2596%25CC%2594",
          "courseID": "6846"
        }
      }
    ]
  },
  "connections": {
    "get class scores": {
      "main": [
        [
          {
            "node": "Call 'get Moodle class assignments'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'get Moodle class assignments'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'get all students' scores of assignment'": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'get all students' scores of assignment'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cdd695e0-5e3c-41d3-9a38-7f7fc0f5ebec",
  "meta": {
    "instanceId": "0200bb8e44558c89e3331eb11833a43f1db06e9bfdebe807fccb7c4ab070316a"
  },
  "id": "RuLJhdi95YX3TqaZYgWL6",
  "tags": []
}