workflows/Show Moodle classes.json
{
  "name": "Show Moodle classes",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "cookie"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "8268e99a-d72d-4dac-a920-d05bca31cc6e",
      "name": "Get cookie"
    },
    {
      "parameters": {
        "url": "https://moodle.nhu.edu.tw/my/courses.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $json.cookie }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "11699451-8585-4b51-b0bb-297cb1a17365",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\n// Helper to clean up text (remove nested tags like <b> or <span>)\nfunction stripTags(str) {\n  if (!str) return '';\n  return str.replace(/<[^>]*>?/gm, '').trim();\n}\n\nfor (const item of $input.all()) {\n  // 1. Get the full HTML content from your specific field 'data'\n  const fullHtml = item.json.data || \"\";\n\n  // 2. Global Regex to find ALL anchor tags\n  // g = global (find all), i = case insensitive\n  // Group 1: The URL\n  // Group 2: The Text (non-greedy)\n  const regex = /<a[^>]+href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n\n  // 3. Iterate over every match in the huge string\n  let match;\n  while ((match = regex.exec(fullHtml)) !== null) {\n    \n    // Create a new item for each link found\n    results.push({\n      json: {\n        linkUrl: match[1],         // The URL\n        linkText: stripTags(match[2]) // The Clean Text\n      }\n    });\n  }\n}\n\n// 4. Return the new list of items (one per link)\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "20ceabb8-92a1-4cd9-9ad3-4ebd5a8376bc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d880c120-916a-4ffd-90ff-5443c0ebc401",
              "leftValue": "={{ $json.linkUrl }}",
              "rightValue": "/course/view.php?id=",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        656,
        0
      ],
      "id": "89182953-2c91-4e2d-96e2-e9c3da10613e",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "9a2b7dae-aabb-4d70-8fa6-e50f67f6be75",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "// Map over the input items and return a clean object with new names\nreturn $input.all().map(item => {\n  return {\n    json: {\n      classUrl: item.json.linkUrl,\n      classname: item.json.linkText\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        0
      ],
      "id": "fcc70192-704a-4df0-9a40-f9b547266343",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {
    "Get cookie": [
      {
        "json": {
          "cookie": "MoodleSession=a53h4u3s4ckuflcnjcin1v9pe9; MOODLEID1_=%25A6%2594%25E0%25E2%2501%2595%25C9%2591"
        }
      }
    ]
  },
  "connections": {
    "Get cookie": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "47e65d5f-a319-44cd-bf00-b8df444c2d1a",
  "meta": {
    "instanceId": "0200bb8e44558c89e3331eb11833a43f1db06e9bfdebe807fccb7c4ab070316a"
  },
  "id": "-pRZCh2Xxmq2OOZup2qhL",
  "tags": []
}