workflows/Tool-scoreAssignment.json
{
  "name": "score all students of an assignment",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4IZuTVchU24TtQ5W86k5e",
          "mode": "list",
          "cachedResultUrl": "/workflow/4IZuTVchU24TtQ5W86k5e",
          "cachedResultName": "get students' info of an assignment"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Cookie": "={{ $json.Cookie }}",
            "assignmentID": "={{ $json.assignmentID }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cookie",
              "displayName": "Cookie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "assignmentID",
              "displayName": "assignmentID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "8c2fb08e-3c4a-4c02-8b28-8d6749b115c3",
      "name": "Call 'get students' info of an assignment'"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        0
      ],
      "id": "a7d1476e-a833-4543-87fa-466fc0912a91",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "94d7c6db-6163-4fdc-8ce2-27077ddba499",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1680,
        240
      ],
      "id": "992b2e09-5eaa-4f48-9d8b-2d2de3afe29d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uOaXUqnwRhQ9NrIT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Scores with ONLY number out of 100 with at most three reasons. Be concise."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1760,
        16
      ],
      "id": "78010669-bbca-4364-8bf2-d2158f67646d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "fieldToSplitOut": "files",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1072,
        16
      ],
      "id": "f4c430f7-2d42-4b8f-b605-9d5cebe9893a",
      "name": "Split Out1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $node['score'].data.Cookie }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        32
      ],
      "id": "ed7575a7-5d67-4bff-86bb-2ab3f6ad8eeb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Cookie"
            },
            {
              "name": "assignmentID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "98541a7b-c7ca-47e7-b0b7-3fdebd8b4dfa",
      "name": "score"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6d205395-d73f-4b48-af45-cae3bc0cb7ad",
              "name": "chatInput",
              "value": "=Description & Standard:\n{{ $node['Call \\'get students\\' info of an assignment\\''].json.description }}\nHelp me score the following work:\n{{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        -208
      ],
      "id": "d3de558a-15e3-49b1-9452-9f632100b5ee",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"score\": \"score of this student\",\n\t\"reason\": \"Simple reason why you give this score\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1824,
        240
      ],
      "id": "7ca41e4c-8ce1-43a1-b858-1e1cede89ed7",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "let results=[]\nfor (const item of $input.all()){\n  results.push({\"id\":item.json.id,\"score\":item.json.output.score})\n}\nreturn results"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        -240
      ],
      "id": "d7fec974-9c55-4d76-bb18-fbd5e321dd2b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bdf10c55-80ea-41f4-aca4-dbd6a2e890ba",
              "leftValue": "={{ $json.needScore }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        32
      ],
      "id": "fde8265f-79ed-432c-8467-75a1194b54fa",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1248,
        16
      ],
      "id": "8c47ed4a-786c-4649-a4b0-7ee516904049",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e898498-a36a-41dd-9945-2e89b2b98706",
              "name": "id",
              "value": "={{ $('Loop Over Items').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        16
      ],
      "id": "e493ea3c-f1e0-47b6-9591-36e2faae5c43",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ac00c63-cac1-4d9d-bcb6-e815ad98eb82",
              "name": "id",
              "value": "={{ $('If').item.json.id }}",
              "type": "string"
            },
            {
              "id": "fa0b206c-cca0-4a5a-b59e-003f3f607f7a",
              "name": "output",
              "value": "={{ {\"score\":\"0\"} }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        288
      ],
      "id": "9260c474-0b33-4cf8-8be1-2c304d864ae3",
      "name": "Edit Fields3"
    }
  ],
  "pinData": {
    "score": [
      {
        "json": {
          "Cookie": "MoodleSession=kr7qqlkbh5av97mm8pt9i15ndk; MOODLEID1_=%25A6%2594%25E0%25E2%2501%2596%25CC%2594",
          "assignmentID": "13047"
        }
      }
    ]
  },
  "connections": {
    "Call 'get students' info of an assignment'": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "score": {
      "main": [
        [
          {
            "node": "Call 'get students' info of an assignment'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "715c2041-6cdd-45a8-8e1e-bc6495aa84ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1df476e439ae6d764c3f5a1f2da1a5f68c2121672dded04090182e09aff8e9ed"
  },
  "id": "dQsw87RcRhElJ_FChtdbW",
  "tags": []
}