workflows/Tool-login.json
{
  "name": "LoginMoodle",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "username"
            },
            {
              "name": "password"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -80,
        368
      ]
    },
    {
      "parameters": {
        "url": "https://moodle.nhu.edu.tw/login/index.php",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        368
      ],
      "id": "c00a04d9-3964-4e2e-91d4-c4314a5cd9c2",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "logintoken",
              "cssSelector": "input[name=\"logintoken\"]",
              "returnValue": "value"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        384,
        368
      ],
      "id": "bc4c4057-6e4a-4d4b-9cfb-7578cfc7dabe",
      "name": "HTML"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://moodle.nhu.edu.tw/login/index.php",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $node[\"HTTP Request\"].json.headers[\"set-cookie\"][0].split(';')[0]}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "username",
              "value": "={{ $('When Executed by Another Workflow').item.json.username }}"
            },
            {
              "name": "password",
              "value": "={{ $('When Executed by Another Workflow').item.json.password }}"
            },
            {
              "name": "logintoken",
              "value": "={{ $json.logintoken }}"
            },
            {
              "name": "anchor"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        368
      ],
      "id": "ef6c95e3-d9e2-44ff-a472-48b1a757fd15",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba6df3c5-2532-48b1-8a3d-53a21c25a163",
              "name": "cookie",
              "value": "={{ \n  $node[\"HTTP Request1\"].data.headers['set-cookie'].find(c => c.startsWith('MoodleSession')).split(';')[0] \n  + '; ' + \n  $node[\"HTTP Request1\"].data.headers['set-cookie'].find(c => c.startsWith('MOODLEID1_') && !c.includes('deleted')).split(';')[0] \n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        352
      ],
      "id": "2f226b78-e7d2-4c32-bd50-6ff50da4484b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "={{ $json.headers.location }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ \n  $json.headers['set-cookie'].find(c => c.startsWith('MoodleSession')).split(';')[0] \n  + '; ' + \n  $json.headers['set-cookie'].find(c => c.startsWith('MOODLEID1_') && !c.includes('deleted')).split(';')[0] \n}}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        368
      ],
      "id": "80e6c384-4f82-46c9-a890-935f80868360",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7b999d09-e410-4342-8624-2938efff38d4",
              "leftValue": "={{ $json.data }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.username }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "a63340d9-79c2-4d8d-bae5-46464f074b42",
              "leftValue": "={{ $('When Executed by Another Workflow').item.json.username }}",
              "rightValue": "={{null}}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        368
      ],
      "id": "23c3208b-dd55-46fa-9d4e-0769eb24a054",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d4427f29-fb6f-4cd5-84aa-e89bb15ee9dd",
              "name": "output",
              "value": "Fail to login",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        512
      ],
      "id": "52a0ca4e-83fa-49ff-bf17-26b8ddccdaab",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "username": "11124211",
          "password": "Hwsh1234"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "6f28d4bf-e6d0-431f-9305-c24aae594f64",
  "meta": {
    "instanceId": "0200bb8e44558c89e3331eb11833a43f1db06e9bfdebe807fccb7c4ab070316a"
  },
  "id": "ONUiQDzyMTcmo8pK",
  "tags": []
}