workflows/Tool-assignmentInfo.json
{
  "name": "get students' info of an assignment",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Cookie"
            },
            {
              "name": "assignmentID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        -16
      ],
      "id": "cbe27b1c-de08-41bb-a999-b59413387ee8",
      "name": "assignment of students"
    },
    {
      "parameters": {
        "url": "=https://moodle.nhu.edu.tw/mod/assign/view.php?id={{ $node['assignment of students'].json.assignmentID }}&action=grading",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $node['assignment of students'].json.Cookie }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        288,
        -16
      ],
      "id": "8e246795-63bd-4b2f-b859-80ef8a736d8d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the HTML string\nconst html = $input.first().json.data;\n\n// Helper: Clean HTML tags and whitespace\nconst clean = (str) => str ? str.replace(/<[^>]+>/g, '').replace(/&nbsp;/g, ' ').trim() : '';\n\n// --- EXTRACT TITLE ---\n// Try <title> tag first (most reliable), then <h2>\nlet title = \"Unknown Assignment\";\nconst titleMatch = html.match(/<title[^>]*>([\\s\\S]*?)<\\/title>/i) || html.match(/<h2[^>]*>([\\s\\S]*?)<\\/h2>/i);\nif (titleMatch) {\n    // Remove \" - Grading\" or similar suffixes if needed, or just keep the text\n    title = clean(titleMatch[1]); \n}\n\n// --- EXTRACT STUDENTS ---\n// Split by <tr to isolate rows\nconst students = html.split(/<tr\\b/i).map(row => {\n    // Filter: Must contain specific student/grade markers\n    // Uses regex to match 'class=\"... c2 ...\"' handling multiple classes like \"cell c2\"\n    if (!/class=[\"'][^\"']*c2\\b/i.test(row) || !/class=[\"'][^\"']*quickgrade\\b/i.test(row)) return null;\n\n    try {\n        // 1. Extract Name & ID (from cell c2)\n        const nameMatch = row.match(/class=[\"'][^\"']*c2\\b[^>]*>([\\s\\S]*?)<\\/t[dh]>/i);\n        const nameParts = clean(nameMatch?.[1]).split(/\\s+/);\n        \n        if (nameParts.length < 2) return null;\n        const id = nameParts.pop();       // Last part is ID\n        const name = nameParts.join(' '); // Remainder is Name\n\n        // 2. Extract Score\n        const scoreMatch = row.match(/<input[^>]*class=[\"'][^\"']*quickgrade\\b[^>]*value=[\"']([^\"']*)[\"']/i);\n        const score = (scoreMatch && scoreMatch[1].trim() !== '') ? parseFloat(scoreMatch[1]) : 0;\n\n        // 3. Check Status\n        const needScore = row.includes('submissionstatussubmitted') && !row.includes('submissiongraded');\n\n        // 4. Extract Submission Files\n        // Looks for links near 'fileuploadsubmission' (source) or 'ygtvitem' (rendered tree)\n        const files = [];\n        // Regex finds the container class, then captures the next link href and text\n        const fileRegex = /(?:class=[\"'](?:fileuploadsubmission|ygtvitem|ygtvchildren)[\"'][^>]*>[\\s\\S]*?)<a[^>]*href=[\"']([^\"']+)[\"'][^>]*>([\\s\\S]*?)<\\/a>/gi;\n        \n        let match;\n        while ((match = fileRegex.exec(row)) !== null) {\n            // Filter out system links (like \"Edit\" or \"Grade\") by checking context if necessary\n            // For now, ygtv/fileupload contexts usually only contain submission files\n            files.push({\n                url: match[1],\n                fileName: clean(match[2])\n            });\n        }\n\n        return { id, name, score, needScore, files };\n\n    } catch (e) { return null; }\n}).filter(Boolean); // Remove null entries\n\n// --- RETURN FINAL STRUCTURE ---\nreturn [{\n    json: {\n        title: title,\n        data: students\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -16
      ],
      "id": "072a4088-0af4-452d-bb88-59e5c0a36e6c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://moodle.nhu.edu.tw/mod/assign/view.php?id={{ $node['assignment of students'].json.assignmentID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $node['assignment of students'].json.Cookie }}"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -128,
        -16
      ],
      "id": "fdbe21b4-7659-4fcc-a507-1e52c96937aa",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "description",
              "cssSelector": "#intro .no-overflow"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        80,
        -16
      ],
      "id": "bbfad9e2-dd9a-4ba3-8c9f-3195474bf569",
      "name": "HTML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5b042dd-ecc3-40ea-a089-25edd2581e86",
              "name": "description",
              "value": "={{ $node['HTML'].data.description }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -16
      ],
      "id": "1984c408-1ec1-4562-aca9-44fccc9314a1",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "assignment of students": [
      {
        "json": {
          "Cookie": "MoodleSession=kr7qqlkbh5av97mm8pt9i15ndk; MOODLEID1_=%25A6%2594%25E0%25E2%2501%2596%25CC%2594",
          "assignmentID": "13047"
        }
      }
    ]
  },
  "connections": {
    "assignment of students": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "65f23281-32bd-44fe-a0eb-f86b96f74cc2",
  "meta": {
    "instanceId": "1df476e439ae6d764c3f5a1f2da1a5f68c2121672dded04090182e09aff8e9ed"
  },
  "id": "4IZuTVchU24TtQ5W86k5e",
  "tags": []
}